/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:wdth,wght@80.3,370&display=swap');

html, body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 25px 0;
  background: #3c231e;
  text-align: center;
  font-family: 'Allura', cursive;
  font-size: 1.5em;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
  text-shadow: 2px 2px #645353;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
  text-align: center;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3c231e;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.open-search a:hover {
  background-color: #806245;
}


/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}

.book-title {
  margin-top: 10px;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3c231e;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer:hover {
  background-color: #806245;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.book-cover-details {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.book-top:hover .book-cover {
  opacity: 0.3;
}

.book-top:hover .book-cover-details {
  opacity: 1;
}

.book-cover-text {
  background-color: #3c231e;
  color: #eee;
  font-size: 0.8em;
  padding: 5px 15px;
  white-space: nowrap;
}

.book-cover-text:hover {
  background-color: #806245;
}

/* Book Details */

.book-details {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: row;
}

.book-details .close-search {
  background: none;
  cursor: pointer;
  width: 30px;
}

.book-details__cover {
  padding: 20px;
  margin: 15px;
}

.book-details__content .title {
  font-size: 1.3em;
  font-weight: bold;
}

.back-button {
  display: block;
  width: 210px;
  height: 53px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Loading */

.loading-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.loading {
  border-radius: 50%;
  border-top: 4px solid #806245;
  width: 50px;
  height: 50px;
  animation: spin .7s linear infinite;
  position: absolute;
  top: 70px;
  z-index: 999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
